VITE_REVIEW_ONLY=false
VITE_ENGINE_URL=https://beta-classes-resources.nagwa.com/engines/unzipped/nagwa_questions_engine/index.html
VITE_BASE_URL=https://s3.us-east-1.amazonaws.com/beta-qms.nagwa.com/questions
VITE_S3_PACKAGES_BASE=https://s3.us-east-1.amazonaws.com/beta-qms.nagwa.com/packages
# Optional local manifest URL when running the full tool locally:
# VITE_REVIEW_MANIFEST_URL=/redundant-review/structure/manifest.json
